In [58]:
teststr="varsha udupa"
new_str = ""
for i in range(len(teststr)):
    if i != 2:
        new_str = new_str + teststr[i]
    print ("The string after removal of i'th character : " + new_str)

The string after removal of i'th character : v
The string after removal of i'th character : va
The string after removal of i'th character : va
The string after removal of i'th character : vas
The string after removal of i'th character : vash
The string after removal of i'th character : vasha
The string after removal of i'th character : vasha
The string after removal of i'th character : vasha u
The string after removal of i'th character : vasha ud
The string after removal of i'th character : vasha udu
The string after removal of i'th character : vasha udup
The string after removal of i'th character : vasha udupa

In [2]:
def multiplication_or_sum(num1, num2):
    product = num1 * num2
    if product <=1000:
        return product
    else:
        return num1 + num2

result = multiplication_or_sum(20,30)
print("The result is = ", result)


result = multiplication_or_sum(50,10)
print("The result is = ", result)

The result is =  600
The result is =  500

In [3]:
previous_num = 0
for i in range(10):
    sum = previous_num + i
    print(f'Current number {i} Previous Number {previous_num} is {sum}')
    previous_num = i

Current number 0 Previous Number 0 is 0
Current number 1 Previous Number 0 is 1
Current number 2 Previous Number 1 is 3
Current number 3 Previous Number 2 is 5
Current number 4 Previous Number 3 is 7
Current number 5 Previous Number 4 is 9
Current number 6 Previous Number 5 is 11
Current number 7 Previous Number 6 is 13
Current number 8 Previous Number 7 is 15
Current number 9 Previous Number 8 is 17

In [ ]:
print("Please enter text to print::")
inputchars = input()
if inputchars:
    string = ""
     for i in inputchars:
            if inputchars.index(i)%2 == 0:
                 string += str(i)
                     print("You Entered:", inputchars)
                    print("Result:")
                    print(string)

In [80]:
num = 1
for i in range(0,5,1):
    sum = i+num
    print(f'Current number {i} "sum is"  {sum}')

Current number 0 "sum is"  1
Current number 1 "sum is"  2
Current number 2 "sum is"  3
Current number 3 "sum is"  4
Current number 4 "sum is"  5

In [82]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res = list(filter(None, list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
nums = [] 
for i in range(5,12,8): 
    num = int(input('Give me a number:')) 
    nums.append(num) 
 
 for i in nums: 
    if i % 5 == 0: 
        print(i)

In [7]:
message = 'python is popular programming language'
print('Number of occurrence of is:', message.count('is'))

Number of occurrence of is: 1

In [8]:
print('My', 'Name', 'Is', 'James', sep='**')

My**Name**Is**James

In [9]:
num = 8
print('%o' % num)

10

In [10]:
quantity = 3
totalMoney = 1000
price = 450
statement1 = "I have {1} dollars so I can buy {0} football for {2:.2f} dollars."
print(statement1.format(quantity, totalMoney, price))

I have 1000 dollars so I can buy 3 football for 450.00 dollars.

In [93]:
username = input("Enter Your Name : ")
if username == 'Bond':
    print("good morning",username)
else:
    print("welcome to board 7007")

welcome to board 7007

Enter Your Name :  bBond

In [12]:
a = [1, 2, 3, 4, 5] 
  
for x in range(len(a)): 
    print (a[x])

1
2
3
4
5

In [13]:
num = 75869
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Total digits are:", count)

Total digits are: 5

In [14]:
for num in range(-10, 0, 1):
    print(num)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [15]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [16]:
my_list = [31, 42, 13, 34, 85, 0, 99, 1, 3]
print("The list is :")
print(my_list)
print("The elements in odd positions are : ")
for i in range(1, len(my_list), 2):
   print(my_list[i])

The list is :
[31, 42, 13, 34, 85, 0, 99, 1, 3]
The elements in odd positions are :
42
34
0
1

In [17]:

test_str = 'helloworld'

print("The original string is : " + str(test_str))
mid_str = "python"

temp = test_str.split()
mid_pos = len(temp) // 2

res = temp[:mid_pos] + [mid_str] + temp[mid_pos:]

res = ' '.join(res)
 
print("Formulated String : " + str(res))

The original string is : helloworld
Formulated String : python helloworld

In [18]:

test_str = "Varsha udupa"
print("The original string is : " + str(test_str))
res = test_str[0].lower() + test_str[1:]
print("The string after lowercasing initial character : " + str(res))

The original string is : Varsha udupa
The string after lowercasing initial character : varsha udupa

In [19]:
str1 = "Welcome to USA. usa awesome, isn't it?"
sub_string = "USA"
temp_str = str1.lower()
count = temp_str.count(sub_string.lower())
print("The USA count is:", count)

The USA count is: 2

In [20]:
str1 = "Apple"
char_dict = dict()
for char in str1:
    count = str1.count(char)
    char_dict[char] = count
print('Result:', char_dict)

Result: {'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [21]:
list1 = ["M", "na", "i", "va"] 
list2 = ["y", "me", "s", "rsha"]
list3 = [i + j for i, j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'varsha']

In [22]:
numbers = [1, 2, 3, 4, 5, 6, 7]
res = []
for i in numbers:
    res.append(i * i)
print(res)

[1, 4, 9, 16, 25, 36, 49]

In [23]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

In [24]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res = list(filter(None, list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

In [25]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [61]:
num1= input("enter first number")
num2=input("enter second number")
print("the numbers are",num1,num2)

the numbers are <PyodideFuture pending cb=[WebLoop._decrement_in_progress()]> <PyodideFuture pending cb=[WebLoop._decrement_in_progress()]>

enter first number 1
enter second number 2

In [27]:

for income in [5000,10000,16777]:

    if income <= 10_000:
        tax = 0
    elif income <= 20_000: 
        tax = (income - 10_000) * 0.1              # 10% on income above 10K
    else:
        tax = (income-20_000) * 0.2 +  10_000*0.1  # 20% on income above 20K, plus tax on 10K of income below 20K

    print(f"For income {income}, You owe {tax} dollars in tax!" )

For income 5000, You owe 0 dollars in tax!
For income 10000, You owe 0 dollars in tax!
For income 16777, You owe 677.7 dollars in tax!

In [28]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [29]:
list1 = [5, 10, 15, 200, 25, 30, 35]
index = list1.index(200)
list1[index] = 20
print(list1)

[5, 10, 15, 20, 25, 30, 35]

In [30]:
list1 = [5, 20, 15, 20, 25, 50, 20]
def remove_value(sample_list, val):
    return [i for i in sample_list if i != val]
res = remove_value(list1, 20)
print(res)

[5, 15, 25, 50]

In [31]:
test_keys = ["Abi", "Aashish", "Varsha"]
test_values = [1, 3, 10]
print("Original key list is : " + str(test_keys))
print("Original value list is : " + str(test_values))
res = {}
for key in test_keys:
    for value in test_values:
        res[key] = value
        test_values.remove(value)
        break
print("Resultant dictionary is : " + str(res))

Original key list is : ['Abi', 'Aashish', 'Varsha']
Original value list is : [1, 3, 10]
Resultant dictionary is : {'Abi': 1, 'Aashish': 3, 'Varsha': 10}

In [32]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
print(Merge(dict1, dict2))
print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [33]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(sampleDict['class']['student']['marks']['history'])

80

In [34]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
res = dict.fromkeys(employees, defaults)
print(res)
print(res["Kelly"])

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}
{'designation': 'Developer', 'salary': 8000}

In [35]:
sampleDict = { 
  "name": "Kelly",
  "age":25, 
  "salary": 8000, 
  "city": "New york" }

keys = ["name", "salary"]

newDict = {k: sampleDict[k] for k in keys}
print(newDict)

{'name': 'Kelly', 'salary': 8000}

In [36]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
keys = ["name", "salary"]

sample_dict = {k: sample_dict[k] for k in sample_dict.keys() - keys}
print(sample_dict)

{'city': 'New york', 'age': 25}

In [37]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print('200 present in a dict')

200 present in a dict

In [38]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [39]:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
print(min(sample_dict, key=sample_dict.get))

Math

In [40]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500}
}

sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [41]:
tuple1 = (10, 20, 30, 40, 50)
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

In [42]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

20

In [43]:
tuple1= (50)
print(tuple1)

50

In [44]:
tuple1 = (10, 20, 30, 40)
a, b, c, d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [45]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

In [46]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

In [47]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

In [48]:
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [49]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2

In [50]:
def check(t):
    return all(i == t[0] for i in t)
tuple1 = (45, 45, 45, 45)
print(check(tuple1))

True

In [51]:
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_set.update(sample_list)
print(sample_set)

{'Orange', 'Green', 'Yellow', 'Black', 'Red', 'Blue'}

In [52]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.intersection(set2))

{40, 50, 30}

In [53]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [54]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)
print(set1)

{10, 30}

In [55]:
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10, 20, 30})
print(set1)

{50, 40}

In [56]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

print(set1.symmetric_difference(set2))

{20, 70, 10, 60}

In [57]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
if set1.isdisjoint(set2):
  print("Two sets have no items in common")
else:
  print("Two sets have items in common")

Two sets have items in common

In [ ]:
numbers = []
for i in range(0, 5):
    print("Enter number at location", i, ":")
    item = float(input())
    numbers.append(item)
print("User List:", numbers)

In [ ]:
a = input("Enter three values: ")
print("Enter Your First Name: ", a)  
print("Enter Your Last Name: ", b)  
print("Enter Your Class: ", c)  
print("First name {},Second name {}, Class {}".format(a,b,c))

In [ ]:
string = input("Please Enter your Own String : ")
alphabets = digits = special = 0

for i in range(len(string)):
    if(string[i].isalpha()):
        alphabets = alphabets + 1
    elif(string[i].isdigit()):
        digits = digits + 1
    else:
        special = special + 1
        
print("\nTotal Number of Alphabets in this String :  ", alphabets)
print("Total Number of Digits in this String :  ", digits)
print("Total Number of Special Characters in this String :  ", special)